requests>=2.19.1
pytest>=3.6.3
allure-pytest>=2.5.1
pytest-rerunfailures>=4.1
pytest-testconfig=>0.1.0
pytest-logger=>0.4.0
allure-commandline=>2.13.0

#(venv) YuriiTatarenkos-MacBook-Pro:Autotest_practice ytatarenko$ cd /Users/ytatarenko/venv/lib/python3.6/site-packages/allure-commons


#/Users/ytatarenko/venv/lib/python3.6/site-packages/allure-commons/ allure generate -c ./reports